/* font link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* banner start */

.banner-secion {
    display: flex;
    justify-content: center;
    padding: 109px 0 86px;
    background-color: #2D25A0;
}

.banner-left {
    margin-right: 102px;
}

.banner-left h1 {
    width: 485px;
    height: 230px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}

.banner-left a {
    display: inline-block;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    width: 120px;
    height: 25px;
}

.banner-left a:hover {
    border-radius: 10px;
    font-size: 30px;
    width: 200px;
    height: 40px;
    transition: width 1s ease-in-out, height 1s ease-in-out, font-size 1s ease-in-out, border-radius 1s ease-in-out;
}

.banner-arrow {
    width: 24px;
    height: 24px;
}

.banner-right img {
    width: 556.01px;
    height: 438px;
}

/* banner end */

/* players profile start */

.players {
    display: grid;
    grid-template-columns: repeat(3, fr);
}

/* players profile end */


/* media query */

/* mobile devices */

@media only screen and (max-width: 688px) {
    .banner-secion {
        width: 100%;
        padding: 60px 0 30px;
    }

    .banner-left {
        margin-right: 30px;
    }

    .banner-left h1 {
        width: 285px;
        height: 130px;
        font-weight: bold;
        font-size: 34px;
        line-height: 60px;
    }

    .banner-right img {
        width: 220px;
        height: 230px;
    }

}

/* tab devices */

@media only screen and (min-width: 688) and (max-width: 992px) {}