/* font link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* banner start */

.banner-secion {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 109px 0 86px;
    background-color: #2D25A0;
}

.banner-left {
    width: 40%;
    margin-right: 102px;
}

.banner-left h1 {
    width: 485px;
    height: 230px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}

.banner-left a {
    display: inline-block;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    width: 120px;
    height: 25px;
}

.banner-left a:hover {
    border-radius: 10px;
    font-size: 30px;
    width: 200px;
    height: 40px;
    transition: width 1s ease-in-out, height 1s ease-in-out, font-size 1s ease-in-out, border-radius 1s ease-in-out;
}

.banner-arrow {
    width: 24px;
    height: 24px;
}

.banner-right {
    width: 40%;
}

.banner-right img {
    width: 556.01px;
    height: 438px;
}

/* banner end */

/* players profile start */

.players-section {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: #fff;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 27px;
}

.player {
    width: 330px;
    height: 474px;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
}

.player img {
    width: 100%;
    height: 256px;
    padding-bottom: 16px;
}

.player h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin: 0 0 10px 0;
}

.player p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin: 0;
}

/* players profile end */

/* feature start */

.feature-section {
    width: 100%;
    padding: 20px 0 80px 0;
}

.latest-news {
    width: 80%;
}

.news {
    width: 100%;
    padding: 5px;
    height: 150px;
}

.news-image {
    width: 40%;
}

.news-image img {
    width: 100%;
    height: 50px;
}

.news-details {
    margin-left: 10px;
}

.news-details h4 {
    margin: 0 0 10px;
}

.news-details p {
    margin: 0;
    font-size: 14px;

}

.feature-videos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    margin-left: 50px;
}

.video {
    margin-bottom: 20px;
}

/* feature end */

/* table-n-schedule start */

.table-schedule-bg {
    padding-bottom: 80px;
}

.table-schedule-part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-section {
    width: 20%;
}

table {
    border-collapse: collapse;
    width: 90%;
    height: 200px;
}

table th,
td {
    border: 1px solid grey;
}

.schedule-section {
    display: flex;
    width: 60%;
}

.schedule {
    width: 33.33%;
    position: relative;
}

.schedule:hover .schedule-details {
    display: block;
}

.schedule-img img {
    width: 100%;
    height: 200px;
}

.schedule-details {
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
    display: none;
    background-color: rgba(128, 128, 128, 0.486);
}



/* table-n-schedule end */

/* footer start */

.footer-section {
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top img {
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}

.footer-icons {
    margin-bottom: 2px;
}

.footer-icons a {
    display: inline-block;
    margin: 0 14px;
    color: #969BAB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E7E7E8;
    padding: 6px 6px;
}

.footer-bottom p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 63px;
}

/* footer end */

/* media query */

/* mobile devices */

@media only screen and (max-width: 688px) {
    .banner-secion {
        width: 100%;
        display: block;
        padding: 80px 0 60px;
    }

    .banner-left {
        width: 80%;
        margin-bottom: 50px;
    }

    .banner-left h1 {
        width: 50%;
        height: 138px;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        padding: 0 66px 0 16px;
        margin-bottom: 60px;
    }

    .banner-left a {
        margin-left: 19px;
    }

    .banner-right {
        width: 90%;
        height: 259px;
    }

    .banner-right img {
        width: 100%;
        height: 259px;
        padding-left: 15px;
    }

    .players {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-section {
        flex-direction: column;
        align-items: center;
        padding: 0 0 80px 0;
    }

    .latest-news {
        margin-bottom: 25px;
    }

    .table-schedule-part {
        flex-direction: column;
        align-items: center;
    }

    .footer-top {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .footer-top img {
        margin-bottom: 50px;
    }

    .footer-top img {
        width: 80%;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        width: 60%;
        margin-bottom: 2px;
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .footer-bottom p {
        margin-bottom: 187px;
    }

}

/* tab devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {

    .banner-secion {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 109px 0 86px;
    }

    .banner-left {
        width: 40%;
        margin-right: 102px;
    }

    .banner-left h1 {
        width: 70%;
        height: 230px;
        font-weight: bold;
        font-size: 64px;
        line-height: 65px;
        margin-bottom: 60px;
    }

    .banner-left a {
        width: 30%;
    }

    .banner-arrow {
        width: 5%;
    }

    .banner-right {
        width: 40%;
    }

    .banner-right img {
        width: 80%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 27px;
    }

}